<plist version="1.0">
<dict>
    <key>method</key>
    <string>ad-hoc</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>teamID</key>
    <string>QQVZLC397C</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>savingapp.mora.SavingApp</key>
        <string>savingapp.mora.SavingApp</string>
    </dict>
    <key>stripSwiftSymbols</key>
    <true/>
    <key>compileBitcode</key>
    <false/>
</dict>
</plist>
